body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
}



.login-form {
    background-color: white;
    text-align: left;
    width: 100%;
    width: 300px;
    padding: 80px;
   
}

.login-form img {
    max-width: 150px;
    margin-bottom: 1rem;
}

.login-form h1 {
    font-size: 24px;
    font-weight: 300;
    font-family: "MongoDB Value Serif", "Times New Roman", serif;
    color: rgb(0, 104, 74);
   width: 300px;
}

.login-form p {
    font-size: 18px;
    margin-bottom: 20px;
    color: rgb(28, 45, 56);
    font-weight: bold;
    width: 300;
}

.login-form a {
    
    text-decoration: none;
}

.social-login1, .social-login2 {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.social-login1 .button1, .social-login2 .button2 {
  background-color: #fff;
  color: #333;
  border: 2px solid #ccc;
  padding: 15px 100px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  flex-grow: 1;
  margin:5px;
}

.button1:hover, .button2:hover {
    background-color: #eee;
}

.button1 i, .button2 i {
    margin-right: 10px;
}

.email {
    font-size: 13px;
    color: rgb(92, 108, 117);
    text-align: center;
    padding: 10px 0;
}

.login-form label {
    font-size: 14px;
    display: block;
    margin: 10px 0 5px;
}

.login-form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

.login-form button {
  background-color: rgb(232, 237, 235);
  border-color: rgb(193, 199, 198);

  color: rgb(136, 147, 151);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  
  font-size: 16px;
  margin-top: 20px;
  cursor: not-allowed;
}

.info {
    width: 100%;
    background-image: url('login_promo_desktop_v20240327.svg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: left;
    padding: 50px;
}

.text {
    width: 40vh;
    gap: 20px;
}

.text h1 {
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 20px;
}

.text p {
    font-size: 16px;
    line-height: 24px;
    margin: 10px 0;
    width: 310px;
    padding: 24px 0px;
}

.text1 {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    list-style: none;
}

.p {
    border-bottom: 1px solid;
    padding-bottom: 2px;
    font-weight: bold;
}

.arrow {
    font-weight: lighter;
    font-family: system-ui;
    -webkit-font-smoothing: antialiased;
}


@media (max-width: 800px) {
  .container {
    flex-direction: row;
    

}
    .info {
        width: 100%;
        
    }

    .login-form {
        max-width: 100%;
    }

    .button1, .button2 {
        max-width: 90%;
    }
}

@media (max-width: 500px) {
  .container {
    flex-direction: column;
    align-items: center;

}
     .info {
        width: 100%;
        padding: 10px;
    }
    .text{
      padding: 20px;
    }

    .login-form {
        max-width: 100%;
    }

    .button1, .button2 {
        max-width: 100%;
    }
}